<%=@test%>
<h1>Bookstore invoice story1</h1><%=link_to 'link to solution story invoice',invoice_books_path%><br><br>
<%=link_to 'add new book',new_book_path%>
<h1>Bookstore invoice story1</h1>
 <strong>Invoice for-:</strong><%=current_user.email%> <%=link_to 'back',books_path%>
<%@a=0%>
<%@b=0%>
<%@c=0%>
<%@d=0%>
<%@p=0%>
<%@y2=0%>
<%@g=0%>
<%@qq=0%>
<%@rd=0%>
<%@fd=0%>
<%@nd=0%>
<%@trent=0%>
<table>
  <tr>
<th>Issue date</th>
    <th>Bookname</th> 
    <th>Return date</th><th>tOTAL daYS</th>
    
  </tr>



  <% @books.each do |article|%>
  
    <tr><td><%= article.created_at %></td>
      <td><%= article.title %><td>
       <td><%= article.return %></td>

 <td><%= calculate_days(article) %>Days</td>
      </tr>
<%@aa=books(article)%>

  <% end %>

<tr><td>Total amount     </td><td></td><td></td><td></td><td></td><td><%=@aa%>RS</td></tr></table><br><br><br><br>
<h1>Bookstore invoice for story2</h1><%=link_to 'story3',story3_books_path%>
 <strong>Invoice for-:</strong><%=current_user.email%> <%=link_to 'back',books_path%>
<table>
  <tr><th>Book Type</th>
    <th>Title</th> 
    
    <th>Return date</th>
<th>Issue date</th>

<th>tOTAL daYS</th>
    
  </tr>



  <% @regularbooks.each do |article|%>
  
    <tr><td>REGULAR BOOKS</td>
      <td><%= article.title %></td>
       <td><%= article.return %></td>

<td><%= article.created_at %></td>
<td><%=calculate_days(article)%><td>
  <%@b=all_books(article)%>
  <% end %>
  <tr><td>Total rental points awarded=<%=@regularbooksnumber%></td>
<tr><td>Total Calculation</td><td></td><td></td><td></td><td></td><td><%=@b %>RS</td></tr>
<tr><td>Total books</td><td></td><td></td><td></td><td></td><td><%=@regularbooksnumber%></td></tr></table>
<tr><td>Total amount     </td><td></td><td></td><td></td><td></td><td><%=@b%>RS</td></tr></table>
<br><br><br>
<table>
  <tr><th>Book Type</th>
    <th>Title</th> 
    
    <th>Return date</th>

<th>Issue date</th>
<th>tOTAL daYS</th>
    
  </tr>



  <% @fictionbooks.each do |article|%>
  
    <tr><td>FICTIONBOOKS</td>
      <td><%= article.title %></td>
       <td><%= article.return %></td>

<td><%= article.created_at %></td>
<td><%=calculate_days(article)%></td>
  

      </tr>
<%@c=all_books(article)%>
  <% end %>
  <tr><td>Total rental points awarded=<%=@fictionbooksnumber%></td>
<tr><td>Total Calculation</td><td></td><td></td><td></td><td></td><td><%=@c%>RS</td></tr>
<tr><td>Total books</td><td></td><td></td><td></td><td></td><td><%=@fictionbooksnumber%></td></tr></table>
<tr><td>Total amount     </td><td></td><td></td><td></td><td></td><td><%=@c%>RS</td></tr></table>
<br><br><br>
<table>
  <tr><th>Book Type</th>
    <th>Title</th> 
    
    <th>Return date</th>

<th>Issue date</th>

<th>tOTAL daYS</th>
    
  </tr>

<strong>TOTAL RENTAL FOR REGULAR AND FICTION=  <%=@rent=rental_points%></strong>
<br><br>
  <% @novels.each do |article|%>
  
    <tr>
<td>NOVELS</td>
      <td><%= article.title %></td>
       <td><%= article.return %></td>

<td><%= article.created_at %></td>

<td><%=calculate_days(article)%></td>
  

      </tr>
      <%@se=all_books(article)%>

<%@rent=novel_points(article)%>
  <% end %>
<tr><td>Total Calculation</td><td></td><td></td><td></td><td></td><td><%=@se%>RS</td></tr>
<tr><td>Total books</td><td></td><td></td><td></td><td></td><td><%=@novelsnumber%></td></tr></table>
<tr><td>Total amount     </td><td></td><td></td><td></td><td></td><td><%=@se%>RS</td></tr></table>
<br><br><br>
<strong>TOTAL RENTAL FOR NOVEL=  <%=@rent%></strong>
<br><br>
<br>
<br><br><br><br><h1>Bookstore invoice for story3</h1>
 <strong>Invoice for-:</strong><%=current_user.email%> <%=link_to 'back',books_path%>
<table>
  <tr><th>Book Type</th>
    <th>Title</th> 
    
    <th>Return date</th>
<th>Issue date</th>

<th>tOTAL daYS</th>
    
  </tr>


  <% @regularbooks.each do |article|%>
  
    <tr><td>REGULAR BOOKS</td>
      <td><%= article.title %></td>
       <td><%= article.return %></td>

<td><%= article.created_at %></td>

  <td><%= calculate_days(article)%>Days</td>

      </tr>
<%@rb=regular_books(article)%>
<%end%>
<tr><td>Total rental points awarded=<%=@regularbooksnumber%></td>
<tr><td>Total Calculation</td><td></td><td></td><td></td><td></td><td><%=@g+@p+@u%>RS</td></tr>
<tr><td>Total books</td><td></td><td></td><td></td><td></td><td><%=@regularbooksnumber%></td></tr></table>
<tr><td>Total amount</td><td></td><td></td><td></td><td></td><td><%=@g+@p+@u%>RS</td></tr></table>
<br><br><br><br><br>
<table>
  <tr><th>Book Type</th>
    <th>Title</th> 
    
    <th>Return date</th>

<th>Issue date</th>

<th>tOTAL daYS</th>
    
  </tr>



  <% @novels.each do |article|%>
  
    <tr>
<td>NOVELS</td>
      <td><%= article.title %></td>
       <td><%= article.return %></td>

<td><%= article.created_at %></td>

<td><%=calculate_days(article)%></td>
  
      </tr>
      <%@nb=regular_books(article)%>

  <% end %>

<tr><td>Total books</td><td></td><td></td><td></td><td></td><td><%=@novelsnumber%></td></tr></table>
<tr><td>Total amount     </td><td></td><td></td><td></td><td></td><td><%=@y1+@y+@y2%>RS</td></tr></table>
<br><br><br>
<style>
table, td, th {
    border: 4px solid grey;
}

td {
    height: 50px;
    vertical-align: bottom;
}
</style>




<%=link_to 'invoice',invoice_books_path%>
<style>
table, td, th {
    border: 4px solid grey;
}

td {
    height: 50px;
    vertical-align: bottom;
}
</style>
